@charset "UTF-8";
body {
  font-family: "Noto Sans JP", sans-serif;
}

.u-desktop {
  display: none;
}
@media screen and (min-width: 768px) {
  .u-desktop {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .u-mobile {
    display: none;
  }
}

/* リキッドレイアウト対応 */
html {
  font-size: 16px;
}
@media (max-width: 375px) {
  html {
    font-size: 4.2666666667vw;
  }
}
@media screen and (min-width: 768px) {
  html {
    font-size: 1.4545454545vw;
  }
}
@media (min-width: 1100px) {
  html {
    font-size: 16px;
  }
}

/* pcの電話番号発信対応 */
@media screen and (min-width: 768px) {
  a[href^="tel:"] {
    pointer-events: none;
  }
}

/* ホバー */
a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
@media screen and (min-width: 768px) {
  a:hover {
    opacity: 0.8;
  }
}

body {
  background: #111;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  width: 100%;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="10" /></filter></svg>#filter');
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

/* フォームリセット */
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

input[type=submit],
input[type=button],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

.btn {
  display: inline-block;
  width: 100%;
  max-width: 335px;
  max-width: 20.9375rem;
  padding: 10px 0;
  padding: 0.625rem 0;
  text-align: center;
  font-size: 20px;
  font-size: 1.25rem;
  letter-spacing: 2px;
  letter-spacing: 0.125rem;
  border: 1px solid #fff;
  background: #333;
  color: #fff;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .btn {
    position: relative;
    overflow: hidden;
    -webkit-transition: ease 0.3s;
    transition: ease 0.3s;
  }
}

.btn::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  z-index: -1;
}

.btn:hover::before {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  height: 3.125rem;
  background: rgba(17, 17, 17, .5);
  border: 1px solid #000;
  z-index: 10;
}
@media screen and (min-width: 768px) {
  .header {
    border: medium none currentColor;
    border: initial;
  }
}

.header__inner {
  width: 100%;
  height: inherit;
  margin: 0 auto;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) {
  .header__inner {
    padding: 0 0 0 2rem;
  }
}

.header__title {
  position: relative;
  width: 100%;
  max-width: 70px;
  max-width: 4.375rem;
  z-index: 20;
}
@media screen and (min-width: 768px) {
  .header__title {
    max-width: 5.875rem;
  }
}

.header__nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__nav {
    display: block;
    height: inherit;
  }
}

.header__lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: inherit;
}

.header__list + .header__list {
  margin-left: 32px;
  margin-left: 2rem;
}

.header__link {
  position: relative;
  color: #fff;
}

.header__link::after {
  content: "";
  position: absolute;
  bottom: -4px;
  bottom: -0.25rem;
  left: 0;
  width: 100%;
  height: 1px;
  height: 0.0625rem;
  background: #FFEA2E;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transform-origin: center top;
          transform-origin: center top;
}

.header__link:hover::after {
  opacity: 1;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.header__list--white {
  background: #fff;
  height: inherit;
}

.header__list--white .header__link {
  color: #111;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 32px;
  padding: 0 2rem;
}

.header__list--white:hover {
  background: #333;
}
.header__list--white:hover .header__link {
  color: #fff;
}
.header__list--white:hover .header__link::after {
  display: none;
}

.header__btn {
  position: relative;
  width: 24px;
  width: 1.5rem;
  height: 14px;
  height: 0.875rem;
  z-index: 20;
}
@media screen and (min-width: 768px) {
  .header__btn {
    display: none;
  }
}

.header__btn span {
  display: block;
  width: 100%;
  height: 2px;
  height: 0.125rem;
  border-radius: 0.3125rem;
  background-color: #fff;
  position: absolute;
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
}

.header__btn span:nth-child(1) {
  top: 0;
}

.header__btn span:nth-child(2) {
  top: 0;
  bottom: 0;
  margin: auto;
}

.header__btn span:nth-child(3) {
  bottom: 0;
}

.header__btn.is-active span:nth-child(1) {
  -webkit-transform: translateY(0.375rem) rotate(-45deg);
          transform: translateY(0.375rem) rotate(-45deg);
}

.header__btn.is-active span:nth-child(2) {
  opacity: 0;
}

.header__btn.is-active span:nth-child(3) {
  -webkit-transform: translateY(-0.375rem) rotate(45deg);
          transform: translateY(-0.375rem) rotate(45deg);
}

.header__sp-nav {
  display: block;
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  -webkit-transform: translateX(100vw);
          transform: translateX(100vw);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #111;
}
@media screen and (min-width: 768px) {
  .header__sp-nav {
    display: none;
  }
}

.header__sp-lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: scroll;
}

.header__sp-list {
  font-size: 16px;
  font-size: 1rem;
  list-style: none;
  text-align: center;
}

.header__sp-list + .header__sp-list {
  padding-top: 32px;
  padding-top: 2rem;
}

.header__sp-link {
  text-decoration: none;
  color: #fff;
}

.header__sp-nav.is-active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.inner {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .inner {
    max-width: 1150px;
    padding-right: 25px;
    padding-left: 25px;
  }
}

.news__contents {
  padding-top: 24px;
  padding-top: 1.5rem;
}

@media screen and (min-width: 768px) {
  .news__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 3.375rem;
  }
}

.news__title {
  padding-top: 16px;
  padding-top: 1rem;
}
@media screen and (min-width: 768px) {
  .news__title {
    padding-top: 0;
    padding-top: initial;
  }
}

.news__link {
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
}
@media screen and (min-width: 768px) {
  .news__link:hover {
    text-decoration: underline;
  }
}

.news__btn {
  margin-top: 28px;
  margin-top: 1.75rem;
}
@media screen and (min-width: 768px) {
  .news__btn {
    max-width: 8.375rem;
    margin-top: 0;
    margin-top: initial;
    font-size: 1rem;
    background: #fff;
    color: #000;
    border: medium none currentColor;
    border: initial;
    padding: 0.1875rem 0;
  }
  .news__btn:hover {
    color: #fff;
  }
}

.news__btn::before {
  background-color: #333;
}

.post-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.post-head__date {
  color: #fff;
}

.post-head__category {
  border: 1px solid #fff;
  color: #fff;
  margin-left: 32px;
  margin-left: 2rem;
  padding: 5px 22px;
  padding: 0.3125rem 1.375rem;
  font-size: 14px;
  font-size: 0.875rem;
}
@media screen and (min-width: 768px) {
  .post-head__category {
    margin-left: 3rem;
  }
}

.section-header__title {
  font-size: 50px;
  font-size: 3.125rem;
  font-weight: 500;
  font-family: "Noto Serif JP", serif;
  color: rgba(249, 248, 113, .2);
  letter-spacing: 2px;
  letter-spacing: 0.125rem;
  text-align: center;
  text-transform: capitalize;
}
@media screen and (min-width: 768px) {
  .section-header__title {
    text-align: left;
    text-align: initial;
    font-size: 6.875rem;
    padding-left: 5.625rem;
    margin-bottom: -7.9375rem;
  }
}

.section-header__subtitle {
  color: #fff;
  font-size: 20px;
  font-size: 1.25rem;
  display: block;
  text-align: center;
  margin-top: -25px;
  margin-top: -1.5625rem;
  letter-spacing: 2px;
  letter-spacing: 0.125rem;
}
@media screen and (min-width: 768px) {
  .section-header__subtitle {
    margin-top: 0;
    margin-top: initial;
    font-size: 1.875rem;
  }
}

.content__inner {
  margin-top: 100px;
  margin-top: 6.25rem;
}

.content__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 48px;
  margin-top: 3rem;
}

.content__link {
  position: relative;
  width: 50%;
}
@media screen and (min-width: 768px) {
  .content__link {
    width: 25%;
  }
}

.content__link img {
  width: 100%;
}

.content__link-title {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
  text-align: center;
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 400;
  color: #fff;
  letter-spacing: 2px;
  letter-spacing: 0.125rem;
}
@media screen and (min-width: 768px) {
  .content__link-title {
    font-size: 1.5625rem;
  }
}

.main-view {
  height: 100vh;
}

.main-view__wrap {
  position: relative;
  height: 100vh;
}

.main-view__title {
  width: 100%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 0 16px;
  padding: 0 1rem;
  color: #fff;
  font-size: 28px;
  font-size: 1.75rem;
  font-weight: 700;
  text-align: center;
  line-height: 1;
  z-index: 2;
}
@media screen and (min-width: 768px) {
  .main-view__title {
    font-size: 3.125rem;
  }
}

.main-view__title span {
  display: block;
  font-size: 20px;
  font-size: 1.25rem;
  padding-top: 24px;
  padding-top: 1.5rem;
}
@media screen and (min-width: 768px) {
  .main-view__title span {
    font-size: 1.5625rem;
  }
}

.swiper1 .swiper-slide-active .slide-img,
.swiper1 .swiper-slide-duplicate-active .slide-img,
.swiper1 .swiper-slide-prev .slide-img {
  -webkit-animation: zoomUp 10s linear 0s 1 normal both;
          animation: zoomUp 10s linear 0s 1 normal both;
}

.swiper1 {
  height: 100%;
}
.swiper1 span.swiper-pagination-bullet {
  display: none;
}

@-webkit-keyframes zoomUp {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
}

@keyframes zoomUp {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
}
.swiper2 {
  position: relative;
  margin-top: 48px;
  margin-top: 3rem;
  background: #333;
}
.swiper2 .swiper-wrapper {
  padding-bottom: 24px;
  padding-bottom: 1.5rem;
}
.swiper2 .swiper-pagination {
  position: absolute;
  top: auto;
  top: initial;
  bottom: 3px;
  bottom: 0.1875rem;
}

span.swiper-pagination-bullet {
  background: #C4C4C4;
}

span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #F9F871;
}

.works__inner {
  margin-top: 70px;
  margin-top: 4.375rem;
}

.works__content {
  background: #333;
  padding: 0 20px 20px;
}

.works__title {
  color: #fff;
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 400;
  text-align: center;
}

.works__textblock {
  margin-top: 24px;
  margin-top: 1.5rem;
}

.works__text {
  color: #fff;
}

.works__btn {
  margin-top: 16px;
  margin-top: 1rem;
}
/*# sourceMappingURL=styles.css.map */
