@use "global" as *;

.related-article__contents {
  margin-top: rem(32);
  @include mq(md) {
    gap: rem(48) rem(32);
    margin-top: rem(80);
  }
  
}

.related-article__title {
  padding: rem(8) 0;
  border: 1px solid $white;
  text-align: center;
  font-size: rem(20);
  letter-spacing: rem(2);
  line-height: 1;
  background: $text-color;
  color: $white;
}

.related-article__text {
  color: $white;
}

.related-article__card {
  @include mq(md) {
    width: calc((100% - (#{rem(32)} * 3)) / 4);
  }
}

.related-article__img {
  @include mq(md) {
    padding-top: 58.9641434%;
  }
}