@use "global" as *;

.works-detail__top {
  margin-top: rem(66);
}

.works-detail__inner {
  padding: 0 $padding-sp;
  @include mq(md) {
    max-width: rem(851);
    width: 100%;
    margin: auto;
    padding: 0 $padding-pc;
  }
}

.works-detail {
  margin-top: rem(53);
}
.works-detail__title {
  font-size: rem(20);
  font-weight: $regular;
  color: $white;
}

.works-detail__point {
  margin-top: rem(56);
  @include mq(md) {
    margin-top: rem(103);
  }
}

.works-detail__box {
  position: relative;
  padding: rem(56) rem(10) rem(33);
  border: 1px solid $white;
  @include mq(md) {
    padding: rem(44) rem(23) rem(32);
  }
}

.works-detail__box + .works-detail__box {
  margin-top: rem(54);
  @include mq(md) {
    margin-top: rem(71);
  }
}

.works-detail__point-title {
  position: absolute;
  display: inline-block;
  font-size: rem(20);
  font-weight: $regular;
  color: $white;
  background: $black;
  padding: rem(8) rem(24);
  text-align: center;
  border: 1px solid $white;
  border-radius: rem(32);
  top: rem(-22);
  left: rem(24);
}

.works-detail__text {
  font-size: rem(16);
  color: $white;
  line-height: 2.1875;
}