@use "global" as *;

.blog__inner{
  margin-top: rem(48);
  padding: 0 $padding-sp;
  @include mq(md){
    max-width: rem(1100);
    width: 100%;
    margin: rem(150) auto 0;
  }
}

.blog__title {
  .section-header__title {
    @include mq(md) {
      text-align: right;
      margin-bottom: rem(-120);
    }
  }
}
.blog__contents{
  margin-top: rem(64);
  @include mq(md){
    display: flex;
    margin-top: rem(50);
  }
}
.blog__content{
  margin-bottom: rem(24);
  @include mq(md){
    margin-bottom: initial;
  }
}
.blog__content + .blog__content{
  @include mq(md){
    margin-left: rem(25);
  }
}

.blog__content--new {
  position: relative;
}

.blog__content--new::before {
  position: absolute;
  content: "new";
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: rem(16);
  text-transform: capitalize;
  width: rem(60);
  height: rem(60);
  top: rem(-16);
  left: rem(-15);
  border-radius: 50%;
  background: #FFBA6A;
  z-index: 1;

}

.blog__btn{
  margin: rem(16) auto 0;
  @include mq(md) {
    padding: rem(14) 0;
    max-width: rem(360);
    margin: rem(48) auto 0;
  }
}
.blog__btn:hover {
  color: $text-color;
}
.blog__btn::before {
  background-color: $white;
}