@use "global" as *;

.line__one {
  position: relative;
}

.line__one::before {
  position: absolute;
  content: "";
  height: 147%;
  width: 100%;
  top: rem(17);
  background: linear-gradient(to bottom left, transparent 0%, transparent 50%, #f9f718 50%, #f9f718 50.1%, transparent 50.1%, transparent 100%);
  z-index: -1;
  @include mq(md) {
    height: 284%;
    max-height: rem(1280);
    top: rem(-63);
  }
}

.line__two {
  position: relative;
}

.line__two::before {
  position: absolute;
  content: "";
  height: 46%;
  width: 100%;
  top: rem(205);
  background: linear-gradient(to bottom right, transparent 0%, transparent 50%, #f9f718 50%, #f9f718 50.1%, transparent 50.1%, transparent 100%);
  z-index: -1;
  @include mq(md) {
    height: 55%;
    top: rem(614);
  }
}