@use "global" as *;

.overview__inner {
  margin-top: rem(73);
  @include mq(md) {
    margin-top: rem(148);
  }
}

.overview__title {
  @include mq(md) {
    padding-left: rem(90);
  }
}

.overview__subtitle {
  @include mq(md) {
    padding-top: rem(13);
  }
}

.overview__wrapper {
  @include mq(md) {
    padding: 0 $padding-pc;
  }
}
.overview__body {
  margin-top: rem(48);
  @include mq(md) {
    max-width: rem(1100);
    width: 100%;
    margin: rem(34) auto;
    display: flex;
    flex-direction: row-reverse;
  }
}
.overview__wrapper {
  @include mq(md) {
    background: linear-gradient(90deg, $text-color 0%, $text-color 50%, transparent 50%, transparent 100%);
  }
}
.overview__img {
  position: relative;
  @include mq(md) {
    max-width: rem(557);
    width: 100%;
    padding: rem(80) 0;
    background: linear-gradient(90deg, $text-color 0%, $text-color 47%, transparent 47%, transparent 100%);
  }
}
.overview__img::before{
  content: "";
  display: block;
  padding-top: 69.6%;
}
.overview__img img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  object-fit: cover;
}
.overview__content {
  background: $text-color;
  padding: rem(23) $padding-sp $padding-sp;
  @include mq(md) {
    max-width: rem(542);
    width: 100%;
    padding: rem(108) rem(32) 0 0;
  }
}

.overview__contentttl {
  color: $white;
  font-size: rem(20);
  font-weight: $regular;
  letter-spacing: 2px;
  text-align: center;
  margin-left: rem(17);
  @include mq(md) {
    font-size: rem(25);
    letter-spacing: 0.5px;
    text-align: left;
    margin-left: initial;
  }
}

.overview__textblock {
  margin-top: rem(23);
  @include mq(md) {
    margin-top: rem(37);
  }
}

.overview__text {
  color: $white;
  font-size: rem(16);
  line-height: 1.448125;
  letter-spacing: 2px;
  @include mq(md) {
    line-height: 2.1875;
    letter-spacing: 0.5px;
  }
}

.overview__btn {
  margin: rem(26) auto 0;
  @include mq(md) {
    max-width: rem(360);
    margin: rem(48) 0 0;
  }
}

.overview__btn:hover {
  color: $text-color;
}
.overview__btn::before {
  background-color: $white;
}
