@use "global" as *;

.swiper1{
  .swiper-slide-active .slide-img,
.swiper-slide-duplicate-active .slide-img,
.swiper-slide-prev .slide-img{
  animation: zoomUp 10s linear 0s 1 normal both;  
}
}
.swiper1{
  height: 100%;
  span.swiper-pagination-bullet{
    display: none;
  }

  .slide-img img {
    height: 100vh;
    object-fit: cover;
  }
}
@keyframes zoomUp {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.15);
  }
}
