@use "global" as *;

.swiper2 {
  position: relative;
  background: $text-color;
  .swiper-wrapper {
    padding-bottom: rem(24);
  }
  .swiper-pagination {
    position: absolute;
    top: initial;
    bottom: rem(3);
  }
  .slide-img{
    position: relative;
    padding-top: 69.6%;
    overflow: hidden;
  }
  .slide-img img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    object-fit: cover;
  }
  @include mq(md) {
    max-width: rem(557);
    width: 100%;
    margin: initial;
    padding: rem(80) 0 rem(58);
    background: linear-gradient(90deg, transparent 0%, transparent 53%, $text-color 53%, $text-color 100%);
    .swiper-pagination{
      left: rem(-22);
      bottom: initial;
      top: rem(475);
    }
  }
}

span.swiper-pagination-bullet {
  background: #c4c4c4;
}

span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: $ac-color;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap,6px);
}