@use "global" as *;


.top-news {
  margin-top: rem(23);
  @include mq(md) {
    margin-top: rem(32);
  }
}

.top-news__inner {
  @include mq(md) {
    max-width: rem(1092);
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    padding: 0 $padding-pc;
  }
}

.top-news__title a {
  @include mq(md) {
    &:hover {
      color: $white;
      text-decoration: underline;
    }
  }
}

.top-news__btn {
  margin-top: rem(28);
  text-align: center;
  @include mq(md) {
    margin-top: 0;
  }
}

.top-news__btn .btn {
  @include mq(md) {
    max-width: rem(134);
    margin-left: rem(48);
    font-size: rem(16);
    letter-spacing: 0;
    background: $white;
    color: #000;
    border: initial;
    padding: rem(7) 0;
    &:hover {
      color: $white;
    }
  }
}

.top-news__btn .btn::before {
  background-color: $text-color;
}