@use "global" as *;

.top-blog__inner {
  padding: 0 $padding-sp;
  @include mq(md) {
    padding: 0 $padding-pc;
  }
}

.top-blog__title span {
  margin-top: rem(-23);
  @include mq(md) {
    padding-top: rem(14);
    padding-right: rem(26);
    margin-top: rem(-120);
  }
}

.top-blog__contents {
  margin-top: rem(64);
  @include mq(md) {
    margin: rem(34) auto 0;
  }
}

.top-blog__btn {
  margin-top: rem(24);
  text-align: center;
  @include mq(md) {
    margin-top: rem(48);
  }
}

