@use "global" as *;

.works__inner {
  margin-top: rem(71);
  @include mq(md) {
    margin-top: rem(149);
  }
}

.works__title {
  @include mq(md) {
    text-align: right;
    padding-right: rem(90);
  }
}
.works__subtitle {
  @include mq(md) {
    padding-top: rem(12);
    letter-spacing: 0.5px;
  }
}

.works__wrapper {
  @include mq(md) {
    padding: 0 $padding-pc;
  }
}
.works__body {
  margin-top: rem(48);
  @include mq(md) {
    max-width: rem(1099);
    width: 100%;
    margin: rem(48) auto;
    display: flex;
    justify-content: left;
  }
}

.works__wrapper{
  @include mq(md){
    background: linear-gradient(90deg, transparent 0%, transparent 50%, $text-color 50%, $text-color 100%);
    margin-top: rem(-15);
  }
}
.works__content {
  background: $text-color;
  padding: 0 $padding-sp $padding-sp;
  @include mq(md) {
    max-width: rem(542);
    width: 100%;
    padding: rem(110) 0 0 rem(32);
  }
}

.works__contentttl {
  color: $white;
  font-size: rem(20);
  font-weight: $regular;
  text-align: center;
  letter-spacing: 2px;
  margin-left: rem(18);
  @include mq(md) {
    font-size: rem(25);
    letter-spacing: 0.5px;
    text-align: left;
    margin-left: initial;
  }
}

.works__textblock{
  margin-top: rem(22);
  @include mq(md) {
    margin-top: rem(37);
  }
}

.works__text {
  color: $white;
  font-size: rem(16);
  line-height: 1.448125;
  letter-spacing: 2px;
  @include mq(md) {
    line-height: 2.1875;
    letter-spacing: 0.5px;
  }
}

.works__btn{
  margin: rem(25) auto 0;
  @include mq(md) {
    max-width: rem(360);
    margin: rem(47) 0 0;
  }
}

.works__btn:hover {
  color: $text-color;
}
.works__btn::before {
  background-color: $white;
}
