@use "global" as *;

.blog__contents {
  margin-top: rem(35);
  @include mq(md) {
    display: flex;
    flex-wrap: wrap;
    max-width: rem(1100);
    width: 100%;
    margin: rem(40) auto 0;
    gap: rem(48) rem(25);
  }
}

