@use "global" as *;

.top-news__inner {
  padding-top: rem(23);
  @include mq(md) {
    display: flex;
    align-items: center;
    padding: rem(32) rem(54) 0;
  }
}

.top-news__link {
  @include mq(md) {
    &:hover {
      color: $white;
      text-decoration: underline;
    }
  }
}

.top-news__btn {
  margin: rem(28) auto 0;
  @include mq(md) {
    max-width: rem(134);
    margin: 0 0 0 rem(48);
    font-size: rem(16);
    letter-spacing: 0;
    background: $white;
    color: #000;
    border: initial;
    padding: rem(7) 0;
    &:hover {
      color: $white;
    }
  }
}
.top-news__btn::before {
  background-color: $text-color;
}
