@use "global" as *;

.breadcrumbs {
  padding: 0;
  list-style: none;
  color: $white;
  font-size: rem(16);
  font-family: $third-font-family;
  letter-spacing: 1px;
  width: fit-content;
}

.breadcrumbs span:hover {
  @include mq(md){
    text-decoration: underline;
  }
}