@use "global" as *;

.detail__post-info {
  margin-top: rem(16);
  display: flex;
  align-items: center;
  @include mq(md) {
    margin-top: rem(32);
  }
}

.detail__date {
  color: $white;
  font-size: rem(16);
}

.detail__category {
  border: 1px solid $white;
  color: $white;
  margin-left: rem(30);
  padding: rem(8) rem(20);
  font-size: rem(16);
  letter-spacing: 2px;
  @include mq(md) {
    margin-left: rem(48);
    padding: rem(4) 0;
  }
}

.detail__pagenav {
  justify-content: space-between;
  max-width: rem(309);
  width: 100%;
  margin: auto;
}