@use "global" as *;

.news__inner {
  @include mq(md) {
    max-width: rem(910);
    width: 100%;
    margin: auto;
  } 
}

.news__content {
  @include mq(md) {
    display: flex;
    align-items: flex-start;
  }
}

.news__content + .news__content {
  margin-top: rem(32);
}

.news__title {
  padding-top: rem(13);
  line-height: 1.3;
  @include mq(md){
    padding-top: 0;
    margin-left: rem(61);
    max-width: rem(572);
    width: 100%;
    line-height: 1.5;
  }
}

.news__title a {
  color: $white;
  font-weight: $regular;
  font-size: rem(16);
}

.news__title a:hover{
  @include mq(md) {
    color: #F9F871;
  }
}