@use "global" as *;

.post-info{
  display: flex;
  align-items: center;
}

.post-info__date{
  color: $white;
}

.post-info__category{
  border: 1px solid $white;
  color: $white;
  text-align: center;
  margin-left: rem(32);
  padding: rem(5) 0;
  font-size: rem(14);
  min-width: rem(99);
  @include mq(md){
    margin-left: rem(48);
    padding: rem(4) 0;
  }
}