@use "global" as *;

.post-head{
  display: flex;
  align-items: center;
}

.post-head__date{
  color: $white;
}
.post-head__category{
  border: 1px solid $white;
  color: $white;
  margin-left: rem(32);
  padding: rem(5) rem(22);
  font-size: rem(14);
  @include mq(md){
    margin-left: rem(48);
  }
}