@use "global" as *;

.search {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: rem(15) rem(25);
  @include mq(md) {
    gap: 0 rem(41);
  }
}

.search__item {
  display: inline-block;
  font-size: rem(16);
  letter-spacing: 2.2px;
  cursor: pointer;
  color: $white;
  padding-bottom: rem(6);
}

.search__item.is-active {
  background: $white;
  color: $text-color;
  padding: rem(3) rem(8);
  @include mq(md) {
    padding: rem(3) rem(9);
  }
}
