@use "global" as *;

.section-header {
  @include mq(md) {
    max-width: rem(1100);
    width: 100%;
    margin: auto;
  }
}
.section-header__title {
  font-size: rem(50);
  font-weight: $normal;
  font-family: $second-font-family;
  color: rgba($ac-color, 0.2);
  letter-spacing: rem(2);
  text-align: center;
  text-transform: capitalize;
  @include mq(md){
    text-align: left;
    font-size: rem(110);
    margin-bottom: rem(-127);
  }
}

.section-header__subtitle {
  color: $white;
  font-size: rem(20);
  display: block;
  text-align: center;
  margin-top: rem(-26);
  letter-spacing: rem(2);
  @include mq(md){
    margin-top: initial;
    font-size: rem(30);
  }
}