@use "global" as *;

.wp-pagenavi {
  display: flex;
}

.wp-pagenavi__wrap {
  max-width: rem(332);
  width: 100%;
  margin: rem(80) auto 0;
  display: flex;
  align-items: center;
  letter-spacing: 2px;
  justify-content: center;
  @include mq(md) {
    margin-top: rem(104);
  }
}

.wp-pagenavi a,
.wp-pagenavi span {
  width: rem(24);
  height: rem(24);
  border: 1px solid $white;
  font-size: rem(16);
  color: $white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: rem(16);
}


.wp-pagenavi span.current {
  background: $white;
  color: $text-color;
}

.wp-pagenavi a:hover {
  @include mq(md) {
    border: initial;
    background: $white;
    color: $text-color;
  }
}
.wp-pagenavi a.previouspostslink,
.wp-pagenavi__prev a {
  width: rem(73);
  height: rem(24);
  border: 1px solid $white;
  font-size: rem(16);
  color: $white;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  @include mq(md) {
    width: rem(71);
  }
}

.wp-pagenavi a.nextpostslink,
.wp-pagenavi__prev a {
  width: rem(71);
  height: rem(24);
  border: 1px solid $white;
  font-size: rem(16);
  color: $white;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wp-pagenavi a.previouspostslink:hover,
.wp-pagenavi a.nextpostslink:hover,
.wp-pagenavi a.wp-pagenavi__more:hover {
  @include mq(md) {
    border: 1px solid $white;
    background: $white;
    color: $text-color;
  }
}

.wp-pagenavi a.wp-pagenavi__more {
  width: rem(71);
  height: rem(24);
  border: 1px solid $white;
  font-size: rem(16);
  color: $white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: rem(23);
}

